<% if (page.updateTime == null) { %>
<%    page.updateTime = page.date %>
<% } %>
<main>
    <div class="wrap min">
        <section class="page-title">
            <h2><%= page.title ? page.title : "没有标题的页面" %></h2>
        </section>
        <article class="page-content">
        <% if (moment().unix() - new Date(page.updateTime).getTime() / 1000 >= 15552000) { %>
            <blockquote>这篇文章上次修改于 <%= Math.ceil((moment().unix() - new Date(page.updateTime).getTime() / 1000) / 86400) %> 天前，可能其部分内容已经发生变化，如有疑问可询问作者。</blockquote>
        <% } %>
            <%- page.content %>
        </article>
    </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.js"></script>
	<script type="text/javascript">
	$(function() {    
	  $("img").lazyload({
		  placeholder: "/blog/static/img/loading.gif",
		  effect: "fadeIn",
		  threshold: 100
		});
	  });
	</script>
</main>
